<div class="homepage bg-white container mx-auto h-screen">
    <div class="main-container mx-auto">
        <img alt="title image" src=""/>
        <div class="main-section">
        HOME PAGE TO BE DONE
        </div>
    </div>
</div>
