<h1>Show Order</h1>

<ul>

  <li>
    <strong>Total price:</strong>
    <%= @order.total_price %>
  </li>

</ul>
<span><%= live_redirect "Back", to: Routes.order_index_path(@socket, :index) %></span>
